{% extends "layouts/app.html" %}
{% block nav %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{{ url_for('register') }}">register</a>
    </li>
</ul>       
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">
                {{message}}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('login') }}" method="post">
        <label for="username" class="form-label"> Username</label>
        <input type="text" class="form-control" id="username" name="username">
        <label for="password"  class="form-label"> Password</label>
        <input type="password" id="password" name="password" class="form-control">
        <button type="submit" class="btn btn-primary my-2">Login</button>
    </form>
{% endblock %}
